/* styles.css */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center; /* Center-align header text */
}

.justify {
    text-align: justify;
}

.text-container {
    width: 80%; /* Set the width of the container */
    max-width: 1000px;
    margin: 0 auto
    overflow: auto; /* Add scrollbars if necessary */
    border: 1px solid #ccc; /* Add border for visual separation */
    padding: 20px; /* Add padding for spacing */
}


body {
    background-color: #f0fff4; /* Mint light green color */
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center; /* Center-align footer text */
}
